body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.accordion {
  width: 100%;
  border: none;
  font-size: 16px;
  background-color: #eee;
  padding: 20px;
  text-align: left;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

.accordion:hover {
  background-color: #ccc;
}

.accordion::after {
  content: "\002B";
  position: absolute;
  right: 10px;
  font-weight: bold;
  color: #777;
}

.active::after {
  content: "\2212";
}

.description {
  padding: 0 15px;
  font-size: 14px;
  transition: 0.3s;
  max-height: 0;
  overflow: hidden;
}
